# Standard Stuff
jupyterlab
hist[plot]

# Coffea - problem somehow with urllib - so you migth have to
# do this install by hand.
wheel
# coffea[servicex] -- Currently needs the https://github.com/gordonwatts/coffea/tree/pr_servicex_flat_root_files version

# Special things which are in beta - before release these should be removed!
func-adl-servicex==1.1b7

# To help with writing code
flake8
