# Standard Stuff
jupyterlab
hist[plot]

# ServiceX and coffea, etc., related stuff
# servicex_clients

# Special things which are in beta - before release these should be removed!
func-adl-servicex==1.1b2
servicex==2.2.3b2
